/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0px;
}

.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.col{
    flex-direction: column;
}
